<h2>Edit Your Tweet</h2>
<form method="POST" action="/tweets/<%=tweet.id%>">
  <input type='hidden' name="_method" value="PATCH">
  <label>Write Content:</label><br>
  <!-- <input type="textarea" name="tweet[content]"> -->
  <textarea name="tweet[content]" id="content"></textarea>
  <br>
  <input type="submit" id="submit" value="Edit Post">
</form>
